* {
    box-sizing: border-box ;
    margin: 0px ;
    padding: 0px ;
}

.header {
    height: 80px;
    background-color: #2d3436;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tickets-filter {
    background-color: dodgerblue;
    height: 60%;
    width: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.5s ;
}

.filter {
    height: 40%;
    width: 8%;
    border-radius: 5px;
    opacity: 0.8;
}

.filter:hover {
    opacity: 1;
    transform : scale(1.2) ;
}

.red {
    background-color: #e74c3c;
}

.blue {
    background-color: #2980b9;
}

.green {
    background-color: #2ecc71;
}

.yellow {
    background-color: #f1c40f;
}

.black {
    background-color: #2c3e50;
}

.ticket-actions {
    height: 60%;
    width: 8%;
    background-color: #b2bec3;
    border-radius: 10px;
    display: flex;
    /* justify-content: space-evenly; 
    align-items: center; */
}

.ticket-actions div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ticket-actions div:hover {
    background-color: #636e72 ;
}

.ticket-action i {
    font-size: 20px ;
    color: #2d3436 ;
}

.tickets-container {
    height: calc(100vh - 80px);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    grid-gap: 30px;
}

.ticket-modal {
    height: 300px;
    width: 400px;
    position: absolute;
    top: 35%;
    border: 2px solid blue;
    display: flex;
    left: calc(50vw - 200px);
}

.ticket-text {
    height: 100% ;
    width: 70%;
    background-color: #b2bec3;
    outline: none ;
    overflow: auto ;
    padding: 15px ;
    font-size: 25px ;
}

.ticket-filters {
    height: 100% ;
    width: 30%;
    background-color: #0B0C10;
    display: flex ;
    flex-direction: column ;
    justify-content: space-evenly;
    align-items: center;
}

.ticket-filter {
    height: 10% ;
    width: 60% ;
    opacity: 0.5 ;
}

.ticket-filter:hover {
    opacity: 1 ;
}

.selected-filter {
    border: 3px solid white ;
    opacity: 1 ;
}

.ticket {
    /* background: aquamarine; */
    height: 150px;
    width: 250px;
    border: 1px solid lightgray;
    border-radius: 5px ;
}

.ticket-header {
    height: 10%;
    /* background: red; */
}

.ticket-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.ticket-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ticket-id {
}

.ticket-delete {
}

.ticket-value {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.active-filter{
    border: 2px solid white;
    opacity: 1;
    transform: scale(1.2);
}